 /* Common Styles */
.no-padding {
    padding: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.text-align {
    text-align: center;
}

/* Header Styles */
.image-container {
    height: 400px;
    object-fit: cover;
    object-position: center 60%;
    opacity: 0.7;
}

.overlay-txt {
    color: black;
    font-size: 25px;
}
.subject {
    background-color: var(--surface-color);
    border: 1px solid white;
    border-radius: 30px;
    height: 150px;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;      /* 👈 vertically center */
    justify-content: center;  /* 👈 horizontally center */
}

.accordion-button:hover {
  background-color: transparent !important;
  color: inherit;
}

/* Optional: Prevent background on active state */
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit;
  box-shadow: none;
}